body {
    background-color: #000000;
    color: #ffffff;
    font-family: monospace;
    font-size: 16px;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 10px #ffffff;
}

div {
    margin: 0 10%;
}

.title {
    margin-top: 30vh;
    margin-bottom: 100vh;
}

.title h1 {
    font-size: min(10vw, 200px);
    margin-bottom: 0;
}

h1 {
    margin-bottom: 50px;
}

.info {
    margin-bottom: 100vh;
}

ul {
    list-style: none;
    padding: 0;
    margin: 50px 0;
}

.login {
    margin-bottom: 30vh;
}

.login input {
    font-size: 16px;
    margin: 20px;
    padding: 10px;
    text-align: center;
    width: 90%;
    left: 0;
    top: 0;
    position: relative;
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #000000;
    text-shadow: 0 0 10px #ffffff;
}

.login input:focus {
    outline: none;
}

.login select {
    width: 95%;
    margin: 20px;
    padding: 10px;
    text-align: center;
    left: 0;
    top: 0;
    position: relative;
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #000000;
    text-shadow: 0 0 10px #ffffff;
}

.login button {
    margin: 20px;
    padding: 10px;
    text-align: center;
    width: 90%;
    left: 0;
    top: 0;
    position: relative;
    background-color: #000000;
    color: #ffffff;
    border: 5px solid #ffffff;
    text-shadow: 0 0 10px #ffffff;
    box-shadow: 0 0 10px #ffffff;
    cursor: pointer;
    transition: 0.2s;
    font-size: 16px;
}

.login button:hover {
    background-color: #ffffff;
    color: #000000;
}

.potato_login_container {
    display: none;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center;
    margin: auto;
    max-width: 394px;
    width: 100%;
}

.potato_login_container img {
    margin: 4px;
    width: 30%;
    max-width: 128px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 0 10px #ffffff;
    cursor: pointer;
    transition: 0.2s;
}

.potato_login_container img:hover {
    opacity: 0.7;
    background-color: #111;
}

#content {
    display: none;
    margin-bottom: 40vh;
}